body {
    background-color: #f8f8f8;
}


.container {
    max-width: 1000px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    vertical-align: top;
}

.footer {
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-left: 1px solid #fff;
        border-right: 1px solid #d5d5d5;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-radius: 0 5px 5px 0;
        border-right: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}

.form-signin {
    max-width: 1000px;
    padding: 0 15px 15px 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin select {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#site-logo {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url("../img/mellivora.png");
}

#site-logo-text {
    font-family: Georgia, Serif;
    color: #999;
    display: inline-block;
}

#categories-menu {
    margin-bottom: 20px;
}

#category-description {
    padding: 10px 0 0 10px;
}

.challenge-container {
    margin-bottom: 20px;
}

.challenge-container h1 {
    font-size: 15pt;
}

.challenge-description {
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 10px;
}

#header a {
    text-decoration: none;
}

.page-header {
    padding-bottom: 5px;
    margin: 10px 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.no-padding-or-margin {
    padding:0;
    margin:0;
}

#menu-management {
    padding-top: 20px;
}

.alert h1, h2, h3 {
    padding:0;
    margin:0;
}

.discreet-inline {
    padding:0;
    margin:0;
    display:inline;
}

.small-icon {
    width: 16px;
    height: 16px;
}